<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="DC.identifier" scheme="DCTERMS.URI" content="urn:ISSN:2405-8858" />
  {% if page.seo_ssi %}
  <!-- Begin SSI SEO -->
<!--#if expr='v("REQUEST_URI") =~ m#data/taxon/(.+)# && $1 =~ /(.*)/' -->
    <!--#set var="ID" value="$0" -->
    <!--#include virtual="/_seo/taxon/${ID}" -->
<!--#elif expr='v("REQUEST_URI") =~ m#data/dataset/(.+)# && $1 =~ /(.*)/' -->
    <!--#set var="ID" value="$0" -->
    <!--#include virtual="/_seo/source/${ID}" -->
<!--#endif -->  
  <!-- End SSI SEO -->
  {% else %}
    {% seo %}
  {% endif %}

  {% if page.noindex %}
  <meta name="robots" content="noindex">
  {% endif %}

  <link rel="stylesheet" href="{{ "/css/foundation.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/fontello.css" | prepend: site.baseurl }}">
  <!--
  <link rel="stylesheet" href="{{ "/css/font-awesome.css" | prepend: site.baseurl }}">
  -->
  <link rel="stylesheet" href="{{ "/css/custom.css" | prepend: site.baseurl }}">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/CatalogueOfLife/portal-components@v0.7.8/umd/main.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script src="{{ "/javascripts/libs.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script>
    // terrificjs bootstrap
    (function($) {
        $(document).ready(function() {
            var $page = $('body');
            var config = {
              dependencyPath: {
                plugin: 'javascripts/'
              }
            }
            var application = new Tc.Application($page, config);
            application.registerModules();
            application.start();
        });
    })(Tc.$);
  </script>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,300" media="screen" rel="stylesheet" type="text/css" />
  <script src="{{ "/javascripts/masonry.pkgd.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/javascripts/imagesloaded.pkgd.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/javascripts/slick.min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <script src="{{ "/javascripts/json2.js" | prepend: site.baseurl }}" type="text/javascript"></script>
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <script src="https://unpkg.com/react@16/umd/react.production.min.js" ></script>
  <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" ></script>
  <script src="https://cdn.jsdelivr.net/gh/CatalogueOfLife/portal-components@v0.7.8/umd/col-browser.min.js" ></script>
  <script src="https://kit.fontawesome.com/9660302c12.js" crossorigin="anonymous"></script>
</head>
