<div class='full parallax' style='background-image: url({{page.partners.imageUrl}}); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title=page.partners.title color="#fff" %}
      <div class='spacing'></div>
      {{page.partners.desc | markdownify}}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modClients' data-slides_to_show='4'>
        <div class='clients'>
          {% for partner in page.partners.partners %}
            <div><a href="{{partner.path}}" style="display: block"><img alt="" src="{{partner.imageUrl}}" /></a></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>