
<#--
Freemarker template with the following variables:
 releaseKey - the dataset key of the release
 source - dataset object for the source
 info - UsageInfo object
 parent - SimpleName instance for the taxons parent
-->

<#assign _title>${info.usage.getLabel()} | COL</#assign>
<#assign _description>${info.usage.label} in the Catalogue of Life<#if source??> based on ${source.title!""}</#if></#assign>

<meta name="title" content="${_title}" />
<meta name="description" content="${_description}" />
<meta property="og:title" content="${_title}" />
<meta property="og:url" content="{{ site.url }}/data/taxon/${info.usage.getId()}" />
<meta property="og:image" content="{{ site.url }}/images/col_square_logo.jpg" />
<meta property="og:description" content="${_description}" />
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@catalogueoflife"/>
<meta name="twitter:title" content="${_title}" />
<meta name="twitter:description" content="${_description}" />
<meta name="twitter:image" content="{{ site.url }}/images/col_square_logo.jpg" />

<!--
TaxonName DRAFT Profile:
https://bioschemas.org/profiles/TaxonName/0.1-DRAFT/
https://bioschemas.org/profiles/Taxon/0.6-RELEASE/
-->
<script type="application/ld+json">
{
  "@context": [
    "https://schema.org/",
    {
      "dwc": "http://rs.tdwg.org/dwc/terms/",
      "col": "http://catalogueoflife.org/terms/"
    }
  ],
  "@id":"{{ site.url }}/data/taxon/${info.usage.getId()}",
  "@type": "Taxon",
  "additionalType": [
    "dwc:Taxon",
    "http://rs.tdwg.org/ontology/voc/TaxonConcept#TaxonConcept"
  ],
  "identifier": [
    {
      "@type": "PropertyValue",
      "name": "dwc:taxonID",
      "propertyID": "http://rs.tdwg.org/dwc/terms/taxonID",
      "value": "${info.usage.getId()}"
    },
    {
      "@type": "PropertyValue",
      "name": "col:ID",
      "propertyID": "http://catalogueoflife.org/terms/ID",
      "value": "${info.usage.getId()}"
    }
  ],
  "name": "${info.usage.label}",
  "scientificName": {
    "@type": "TaxonName",
    "name": "${info.usage.name.scientificName!}",
    "author": "${info.usage.name.authorship!}",
    "taxonRank": "${info.usage.name.rank!}"
   <#if info.publishedIn??>
    ,"isBasedOn": {
      "@type": "ScholarlyArticle",
      "name": "${info.publishedIn.citation!}"
    }
   </#if>
  },
  <#if info.usage.name.rank??>
  "taxonRank": [
    "https://api.checklistbank.org/vocab/rank/${info.usage.name.rank}",
    "${info.usage.name.rank}"
  ],
  </#if>

<#if info.synonyms?has_content>
  "alternateName": [
     <#list info.synonyms.all() as s>
      "${s.label}"<#sep>,</#sep>
     </#list>
  ],
  "alternateScientificName": [
    <#list info.synonyms.all() as s>
    {
      "@type": "TaxonName",
      "name": "${s.name.scientificName}",
      "author": "${s.name.authorship!}",
      "taxonRank": "${s.name.rank}"
      <#if s.name.publishedInId?? && info.getReference(s.name.publishedInId)??>
       ,"isBasedOn": {
          "@type": "ScholarlyArticle",
          "name": "${info.getReference(s.name.publishedInId).citation!}"
        }
      </#if>
    }<#sep>,</#sep>
    </#list>
  ],
</#if>

<#if info.vernacularNames?has_content>
  "dwc:vernacularName": [
  <#list info.vernacularNames as v>
    {
      "@language": "${v.language!}",
      "@value": "${v.name!}"
    }<#sep>,</#sep>
  </#list>
  ],
</#if>

<#if parent??>
  "parentTaxon": {
    "@id":"{{ site.url }}/data/taxon/${parent.id}",
    "@type": "Taxon",
    "name": "${parent.label!}",
    "scientificName": {
      "@type": "TaxonName",
      "name": "${parent.name!}",
      "author": "${parent.authorship!}",
      "taxonRank": "${parent.rank!}"
    },
    "identifier": [
      {
        "@type": "PropertyValue",
        "name": "dwc:taxonID",
        "propertyID": "http://rs.tdwg.org/dwc/terms/taxonID",
        "value": "${parent.id}"
      },
      {
        "@type": "PropertyValue",
        "name": "col:ID",
        "propertyID": "http://catalogueoflife.org/terms/ID",
        "value": "${parent.id}"
      }
    ],
    "taxonRank": [
      "http://rs.gbif.org/vocabulary/gbif/rank/${parent.rank}",
      "${parent.rank}"
    ]
  }
</#if>
}
</script>