
<#--
Freemarker template with the following variables:
 releaseKey - the dataset key of the release
 dataset - dataset object for the COL checklist
-->

<#assign _title>${dataset.title!} | COL</#assign>
<#assign _description>${dataset.description!dataset.title!}</#assign>
<#--
  try out with GOOGLE TEST TOOL https://search.google.com/test/rich-results?utm_campaign=sdtt&utm_medium=url&url=https://www.catalogueoflife.org/data/dataset/1010
-->
<meta name="title" content="${_title}" />
<meta name="description" content="${_description}" />
<meta property="og:title" content="${_title}" />
<meta property="og:url" content="{{ site.url }}/data/dataset/metadata" />
<meta property="og:image" content="https://api.checklistbank.org/dataset/${dataset.key?c}/logo?size=LARGE" />
<meta property="og:description" content="${_description}" />
<meta name="twitter:card" content="summary"/>
<meta name="twitter:title" content="${_title}" />
<meta name="twitter:description" content="${_description}" />
<meta name="twitter:image" content="https://api.checklistbank.org/dataset/${dataset.key?c}/logo?size=LARGE" />

<#macro person p>
  {
    "familyName": "${p.familyName!}",
    "givenName": "${p.givenName!}"
    <#if p.email??>,
    "email": "${p.email}"
    </#if>
    <#if p.orcid??>,
    "identifier": "https://orcid.org/${p.orcid}"
    </#if>
  }
</#macro>

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Dataset",
  "@id": "${dataset.key?c}",
  "url": "{{ site.url }}/data/metadata",
  "name": "${dataset.title!source.alias!}",
  <#if authors?has_content>
  "author": [
   <#list authors as p>
    <@person p=p /><#sep>,</#sep>
   </#list>
  ],
  </#if>
  <#if editors?has_content>
  "editor": [
   <#list editors as p>
    <@person p=p /><#sep>,</#sep>
   </#list>
  ],
  </#if>
  "description": "${dataset.description!}",
  "temporalCoverage": "${dataset.temporalCoverage!}",
  "spatialCoverage": "${dataset.spatialCoverage!}",
  <#if license??>
  "license": "${dataset.license.url!'unknown'}",
  </#if>
  "inLanguage": "eng",
  "version": "${dataset.version!}",
  "datePublished": "${dataset.issued!}",
  "publisher": {
    "@type": "Organization",
    "name": "Catalogue of Life (COL)",
    "url": "{{ site.url }}"
  },
  "provider": {
    "@type": "Organization",
    "name": "Global Biodiversity Information Facility (GBIF)",
    "url": "https://www.gbif.org",
    "logo": "https://www.gbif.org/img/logo/GBIF50.png",
    "email": "info@gbif.org",
    "telephone": "+45 35 32 14 70"
  }
}
</script>