---
import Base from '@layouts/Base.astro';
import Hero from '@components/Hero.astro';
---

<Base title="Not found | COL" noindex>
  <Hero imageUrl="/images/species/Raphus_cucullatus.jpg" title="404" tagline="This page could not be found" />
  <div class="full">
    <div class="row">
      <div class="large-12 columns prose">
        <p>The page you were looking for does not exist. Try the <a href="/">home page</a> or <a href="/data/search">search the Catalogue of Life</a>.</p>
        <div class="spacing"></div>
      </div>
    </div>
  </div>
</Base>
