---
layout: news
section_id: news
---

<div class='row'>
  <div class='large-12 columns'>
    <div class='mod modBlogPost big'>
      <div class='content'>
        <p class='info'>
          <span>{{page.date | date: "%B %d, %Y" }}</span>
          {% if page.author %}
          / 
          <span>
            by {{page.author}}
          </span>
          {% endif %}
        </p>
        <h3><a href="{{page.url}}">{{page.title}}</a></h3>

      <div class='images'>
        {% for image in page.images %}
          <div class='image'><img alt="" src="{{site.url}}/{{image}}" /></div>
        {% endfor %}
      </div>        
        {{ content | toc }}
      </div>
    </div>
    <div class='two spacing'></div>
  </div>
</div>
