---
import Base from './Base.astro';
import Hero from '@components/Hero.astro';
import Sidebar from '@components/Sidebar.astro';

interface Props {
  title?: string;
}
const { title = 'News' } = Astro.props;
---

<Base title={`${title} | COL`} sectionId="about">
  <Hero imageUrl="/images/species/Melaleuca_lanceolata.jpg" title="News" tagline="Latest updates" />

  <div class="full">
    <div class="row">
      <div class="large-9 columns">
        <slot />
        <div class="four spacing"></div>
      </div>
      <div class="large-3 columns" id="sidebar">
        <Sidebar />
        <div class="four spacing"></div>
      </div>
    </div>
  </div>
</Base>
